{
  "env": { "es6": true, "node": true, "jest": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "unicorn"],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "require-atomic-updates": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/array-type": "error",
    "no-console": "error",
    "no-return-await": "error",
    "no-throw-literal": "error",
    "unicorn/custom-error-definition": "error",
    "unicorn/import-index": "error",
    "unicorn/no-keyword-prefix": "error",
    "unicorn/no-unsafe-regex": "error",
    "unicorn/no-unused-properties": "error",
    "unicorn/numeric-separators-style": "error",
    "unicorn/prefer-array-flat-map": "error",
    "unicorn/string-content": "error",
    "unicorn/no-array-reduce": "off",
    "unicorn/prefer-node-protocol": "off"
  }
}
